{% extends "layout.html" %} {% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bootstrap demo</title>
<style>
  .btn {
    margin-left: 10px;
  }

  #article div img {
    object-fit: cover;
  }

  .content-wrap {
    width: auto;
    max-width: 1200px;
  }

  body {
    background-color: #edf1f5;
    margin-top: 20px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
  }
  .card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
  }
  .table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa !important;
  }
  .table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299 !important;
  }
  .container {
    margin-top: 10rem;
  }
  .article-img {
    width: 100%;
  }
</style>
<script>
  const id = '{{ articleId }}';

  $(document).ready(function () {
    show_post();
  });

  function show_post() {
    $.ajax({
      type: 'GET',
      url: `/api/article/${id}`,
      data: {},
      success: function (response) {
        const { title, content, image, postedBy } = response.result;

        const userId = '{{ userId }}';

        const buttons =
          userId === postedBy
            ? `<div class="d-flex justify-content-end">
            <button type="button" class="btn btn-info fix" onclick="location.href = '/rewrite/${id}'">수정</button>
            <button
              type="button"
              onclick="delete_post()"
              id="delete_btn"
              class="btn btn-dark dark"
            >
              삭제
            </button>
          </div>`
            : '';

        const temp_html = `
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="white-box text-center">
            <img
              class="article-img"
              src="${image}"
              class="img-responsive"
            />
          </div>
        </div>
        <div
          class="col-lg-7 col-md-7 col-sm-6 d-flex flex-column justify-content-between"
        >
          <div>
            <h4 class="box-title mt-2">${title}</h4>
            <p>${content}</p>
          </div>
          ${buttons}
        </div>
        `;

        $('#article').append(temp_html);
      },
    });
  }

  function delete_post() {
    if (confirm('삭제하시겠습니까?')) {
      $.ajax({
        type: 'DELETE',
        url: `/api/article/${id}`,
        data: {},
        success: function (response) {
          const { result, msg } = response;

          if (result === 'success') {
            alert(msg);
            location.href = '/';
          } else {
            alert(msg);
          }
        },
      });
    }
  }

  function edit_post() {
    location.href = '/rewrite/{{id}}';
  }
</script>
{% endblock %} {% block contents %}

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row" id="article"></div>
    </div>
  </div>
</div>
{% endblock %}

<!-- {% if loggedIn %} -->

<!-- {% else %} -->
<!-- <button onclick="location.href='/'" type="button" class="btn btn-secondary">나가기</button> -->
<!-- {% endif %} -->
