{% extends "layout.html" %} {% block head %}
<style>
  .mypost {
    width: 95%;
    max-width: 500px;
    margin: 10rem auto 0 auto;
    padding: 20px;
    box-shadow: 0 0 3px 0 gray;
  }

  .mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }

  .mybtns > button {
    margin-right: 10px;
  }
</style>
<script>
  const id = "{{ articleId }}";

  $(document).ready(() => {
    autofill();
  });
  // 수정하기 버튼 누를 시 실행되는 onclick함수
  function editing() {
    const title = $("#title").val();
    const image = $("#image").val();
    const content = $("#content").val();
    // URL작성시 이미지파일URL인지 정규표현식 유효성검사
    const urlRegex = /(http)?s?:?(\/\/[^"']*\.(?:png|jpg|jpeg|gif|png|svg))/;

    // 제목 또는 내용 미입력시 alert
    if (!title || !content) {
      alert("제목 또는 내용이 비어 있습니다!");
      return;
    } else if (!image.match(urlRegex)) {
      alert("이미지 URL 형식이 잘못됐습니다!");
      return;
    }

    $.ajax({
      type: "PUT",
      url: `/api/article/${id}`,
      data: {
        title_give: title,
        image_give: image,
        content_give: content,
      },
      success: function (response) {
        alert(response["msg"]);
        location.href = "/";
      },
    });
  }

  function autofill() {
    $.ajax({
      type: "GET",
      url: `/api/article/${id}`,
      data: {},
      success: function (response) {
        const { title, image, content } = response.result;

        $("#title").val(title);
        $("#image").val(image);
        $("#content").val(content);
      },
    });
  }
</script>
{% endblock %} {% block contents %}
<div class="mypost">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="title" placeholder="제목" />
    <label for="title">제목</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="image"
      placeholder="이미지 URL"
    />
    <label for="image">이미지 URL</label>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      id="content"
      style="height: 100px"
      placeholder="내용"
    ></textarea>
    <label for="content">내용</label>
  </div>
  <div class="mybtns">
    <button onclick="editing()" type="button" class="btn btn-dark">
      수정하기
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      onclick="location.href = '/' "
    >
      닫기
    </button>
  </div>
</div>
{% endblock %}
